<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="random"
         cacheDirectory="build/phpunit/.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="./build/coverage" lowUpperBound="20" highLowerBound="50"/>
      <clover outputFile="build/phpunit/clover.xml" />
    </report>
  </coverage>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
  </source>
</phpunit>
